.mobileMenuContainer {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100vw;
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e6e6e6;
  z-index: 1000;
}

@media screen and (min-width: 768px) {
  .mobileMenuButton {
    display: none;
  }
}

.menuList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menuItem {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

.mobileMenuButton {
  color: #000;
  font-family: 'Montserrat Alternates';
  font-size: 10px;
  font-weight: 500;
}

.svg {
  width: 6px;
  height: 6px;
  flex-shrink: 0;
}

.mobileUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.username {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #000;
}

.button {
  background-color: #ffb36c;
  padding: 8px 16px;
  border-radius: 10px;
  color: #000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: 'Montserrat Alternates';
  font-size: 9px;
}

.iconUser {
  width: 40px;
  height: 40px;
  color: #556080;
  margin: 0 auto;
}
