.container {
  width: 293px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 634px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
    padding: 0;
  }
}
