.footer {
  background: #ffb36c;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 30px;

  @media screen and (min-width: 768px) {
    text-align: start;
    padding: 35px;
  }

  @media screen and (min-width: 1200px) {
    padding: 40px;
    justify-content: left;
  }
}

.footer__logoBox {
  flex-shrink: 0;
  margin-right: 24px;
  position: absolute;
  left: 50px;
  top: 30px;

  @media screen and (min-width: 768px) {
    left: 100px;
    top: 35px;
  }

  @media screen and (min-width: 1200px) {
    left: 150px;
    top: 40px;
  }
}

.footer__logo {
  width: 50px;
  height: 34.483px;

  @media screen and (min-width: 768px) {
    width: 58px;
    height: 40px;
    flex-shrink: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 90px;
    height: 62px;
  }
}

.footer__content {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 100px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 343px;
  }
}

.address {
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
  }
}

.address__title {
  color: #000;
  font-family: 'Montserrat Alternates';
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.address__text {
  font-family: 'Montserrat Alternates';
  color: #000;
  font-size: 8px;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: 10px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 12px;
  }
}

.contact__title {
  color: #000;
  font-family: 'Montserrat Alternates';
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 17px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contact__list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact__img {
  width: 35px;
  height: 35px;
  flex-shrink: 0;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    width: 40px;
    height: 40px;
  }
}
